# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

othermods
crashreport
.cursor
/build/
/build/generated/sources/modMetadata/META-INF/neoforge.mods.toml
/src/generated/resources/.cache/
/GeneratedTranslationKeys.json
